@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'Open Sans', sans-serif;
    }
    body {
        @apply bg-[#f2f2f2];
      }
  }

@font-face {
    font-family: 'Retro Gaming';
    src: local('Retro Gaming'), url('./Assets/RetroGaming.ttf') format('truetype');
}
  

  
  
